.form-block-wrapper {
  border: 1px solid var(--clr-border);
  padding-block: 1rem;

  &:has(.img-upload) {
    form {
      margin-top: 1rem;
    }
  }

  form {
    padding: 0 1.25rem;
    display: grid;
    gap: 1rem;

    label {
      font-weight: 700;
      display: grid;
      gap: 0.375rem;
    }

    input,
    textarea {
      padding: 0;
      background: transparent;
      border: none;
      padding: 0.25rem 0 0.75rem;
      border-bottom: 1px solid rgba(6, 6, 6, 0.48);
      font-weight: 500;
      color: var(--clr-text-primary);
    }
  }
}

.img-upload {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--clr-border);

  > div {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
  }

  > label {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.625rem 1rem;
    background: var(--clr-neutral-black);
    color: var(--clr-neutral-off-white);
    font-weight: 500;
    line-height: normal;
    border-radius: 999px;
  }
}

@media (min-width: 992px) {
  form {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    label:has(textarea, input#job-title) {
      grid-column: span 2;
    }
  }

  .img-upload {
    > label {
      transition: background 0.2s ease;

      &:hover {
        background: hsla(0, 0%, 2%, 0.8);
      }
    }
  }
}
