.form-block-wrapper {
  border: 1px solid var(--clr-border);
  padding-block: 1rem;

  &:has(.img-upload) {
    form {
      margin-top: 1rem;
    }
  }

  &:has(.job-item) {
    padding: 0 0 1rem;
  }

  form {
    padding: 0 1.25rem;
    display: grid;
    gap: 1rem;

    label {
      font-weight: 700;
      display: grid;
      gap: 0.375rem;
    }

    input,
    textarea {
      padding: 0;
      background: transparent;
      border: none;
      padding: 0.25rem 0 0.75rem;
      border-bottom: 1px solid rgba(6, 6, 6, 0.48);
      font-weight: 500;
      color: var(--clr-text-primary);

      &:focus {
        padding-left: 0.25rem;
      }
    }

    legend {
      font-weight: 700;
      margin-bottom: 0.375rem;

      + p {
        color: rgba(6, 6, 6, 0.8);
        margin-bottom: 0.625rem;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:has(> :only-child) {
        justify-content: end;
      }

      > div {
        display: flex;
        align-items: center;
        gap: 0.75rem;
      }
    }
  }

  .achievements {
    display: grid;
    gap: 0.75rem;
    margin: 0;
    padding-left: 1.5rem;

    > li {
      input {
        padding-bottom: 0;
      }

      &::marker {
        color: hsla(0, 0%, 2%, 0.5);
      }
    }
  }

  #skills-help {
    font-weight: 400;
    color: rgba(6, 6, 6, 0.8);
    margin-top: 0.325rem;
    margin-bottom: 0.625rem;
  }
}

.img-upload {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--clr-border);

  > div {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
  }

  > label {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.625rem 1rem;
    background: var(--clr-neutral-black);
    color: var(--clr-neutral-off-white);
    font-weight: 500;
    line-height: normal;
    border-radius: 999px;
  }
}

ul:has(.job-item) {
  padding-bottom: 1rem;
}

.job-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--clr-border);

  > div {
    display: grid;
    gap: 0.375rem;
  }

  .role {
    font-weight: 700;
  }
  .company,
  .dates {
    color: hsla(0, 0%, 2%, 0.8);
  }

  button svg {
    fill: var(--clr-text-primary);
    transition: fill 0.2s ease;

    &:hover {
      fill: hsla(0, 0%, 2%, 0.8);
    }
  }
}

@media (min-width: 992px) {
  form {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    label:has(textarea, input#jobTitle, input#degree, input#institution),
    fieldset,
    .actions {
      grid-column: span 2;
    }
  }

  .img-upload {
    > label {
      transition: background 0.2s ease;

      &:hover {
        background: hsla(0, 0%, 2%, 0.8);
      }
    }
  }
}
