.form-block-wrapper {
  border: 1px solid var(--clr-border);
  padding: 1.25rem;

  form {
    display: grid;
    gap: 1rem;

    label {
      font-weight: 700;
      display: grid;
      gap: 0.375rem;
    }

    input, textarea {
      padding: 0;
      background: transparent;
      border: none;
      padding: 0.25rem 0 0.75rem;
      border-bottom: 1px solid rgba(6, 6, 6, 0.48);
      font-weight: 500;
      color: var(--clr-text-primary);
    }
  }
}

@media (min-width: 992px) {
  form {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    label:has(textarea) {
      grid-column: span 2;
    }
  }
}
