.btn {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.625rem 1rem;
  background: var(--clr-neutral-black);
  color: var(--clr-neutral-off-white);
  font-weight: 500;
  line-height: normal;
  border-radius: 999px;
  text-transform: none;
  width: fit-content;
  justify-self: right;
  margin: 0;
  margin-top: 0.75rem;
  transition: background 0.2s ease;

  &:hover {
    background: hsla(0, 0%, 2%, 0.8);
  }
}
