.btn-download {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15.875rem;
  height: 4rem;
  padding-left: 1.5rem;
  border: 1px solid var(--clr-border);
  border-top: none;
  border-bottom: none;
  background: var(--clr-surface-primary);
  transition: background 0.2s ease;

  > span {
    font-size: clamp(1.125rem, 0.989rem + 0.68vw, 1.5rem);
    text-transform: uppercase;
    font-weight: 500;
  }

  > div {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--clr-border);

    svg {
      transform: translateY(-2px);
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &:active {
    background: hsla(11, 99%, 60%, 0.6);
  }
}

@media (min-width: 992px) {
  .btn-download {
    width: 27.8125rem;
    height: 6.75rem;
    transition: color 0.2s ease;

    > span {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.25em;
        width: 100%;
        height: 1px;
        background: var(--clr-text-primary);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.6s cubic-bezier(.075, .82, .165, 1);
      }
    }

    > div {
      width: 6.75rem;
      height: 6.75rem;

      svg {
        width: 2rem;
        height: 2rem;
      }
    }

    > * {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: var(--clr-accent-orange);
      clip-path: circle(0% at 0% 100%);
      transition: clip-path 450ms cubic-bezier(0.4, 0, 0.2, 1);

      z-index: 0;
    }

    &:hover {
      &::before {
        clip-path: circle(150% at 0% 100%);
      }

      > span::after {
        transform: scaleX(1);
      }
    }

    /* &:hover::before {
      clip-path: circle(150% at 0% 100%);
    } */
  }
}
