.cv-block {
  border: 1px solid var(--clr-border);
  display: none;
}

.cv-cell {
  padding: 1rem;
  border: 1px solid var(--clr-border);

  &.name-role {
    border-top: none;
    border-left: none;
  }
}

@media (min-width: 992px) {
  .cv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cv-block {
    display: grid;

    &.general {
      grid-column: span 2;
      border-top: none;
      grid-template-columns: 436fr 358fr;
      grid-template-rows: 16rem 3rem minmax(7rem, auto) minmax(8.25rem, auto);
    }

    &.work-experience {
      grid-column: span 2;
      border-top: none;
      grid-template-rows: minmax(3.25rem, auto) repeat(3, auto);

      .cell-title {
        border-bottom: none;
      }
    }

    &.education,
    &.skills {
      border-top: none;
      .education-block,
      .skills-block {
        border: none;
      }
    }

    &.skills {
      .skills-block {
        display: flex;
        align-items: start;
        padding-top: 0;
      }
    }

    &.education {
      display: grid;
      gap: 0.25rem;
      border-right: none;

      .degree {
        font-weight: 700;
      }
    }
  }

  .cv-cell {
    .title {
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
    }
    &.name-role {
      border-right: none;

      h2 {
        font-size: 2.75rem;
        font-weight: 800;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    &.photo {
      border-top: none;
      border-right: none;
      grid-column: 2;
      grid-row: 1 / 3;
      padding: 0;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &.cell-title {
      display: flex;
      align-items: center;
      border: none;
      border-bottom: 1px solid var(--clr-border);
      font-size: 1.25rem;
      font-weight: 700;
      text-transform: uppercase;
      height: 3.25rem;
    }

    &.contact-info {
      border-top: none;
      border-left: none;

      &.r-edge {
        border-right: none;
      }

      > ul {
        display: grid;
        gap: 0.5rem;

        > li {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          a {
            color: var(--clr-text-primary);
            transition: color 0.2s ease;

            &:hover {
              color: var(--clr-accent-orange);
            }
          }
        }
      }
    }

    &.summary {
      grid-column: span 2;
      border: none;
    }

    &.work-block {
      display: grid;
      grid-template-columns: 1fr 3fr;
      padding: 0;
      border: none;
      border-top: 1px solid var(--clr-border);

      .general {
        display: grid;
        gap: 0.25rem;
        padding: 1rem;
        border-right: 1px solid var(--clr-border);

        .company,
        .role {
          font-weight: 700;
        }

        .role {
          text-transform: uppercase;
        }
      }

      .achievements {
        margin-left: 1.125rem;
        list-style-type: square;
        padding: 1rem;

        > li:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
