.cv-block {
  border: 1px solid var(--clr-border);
  display: none;
}

.cv-cell {
  padding: 1rem;
  border: 1px solid var(--clr-border);

  &.name-role {
    border-top: none;
    border-left: none;
  }
}

@media (min-width: 992px) {
  .cv-block {
    &.general {
      display: grid;
      border-top: none;
      grid-template-columns: 436fr 358fr;
      grid-template-rows: 16rem 3rem minmax(7rem, auto) minmax(8.25rem, auto);
    }
  }

  .cv-cell {
    .title {
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
    &.name-role {
      border-right: none;

      h2 {
        font-size: 2.75rem;
        font-weight: 800;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    &.photo {
      border-top: none;
      border-right: none;
      grid-column: 2;
      grid-row: 1 / 3;
      padding: 0;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &.contact-title {
      display: flex;
      align-items: center;
      border: none;
      border-bottom: 1px solid var(--clr-border);
      font-size: 1.25rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    &.contact-info {
      border-top: none;
      border-left: none;

      &:last-child {
        border-right: none;
      }

      > ul {
        display: grid;
        gap: 0.5rem;

        > li {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          a {
            color: var(--clr-text-primary);
            transition: color 0.2s ease;

            &:hover {
              color: var(--clr-accent-orange);
            }
          }
        }
      }
    }

    &.summary {
      grid-column: span 2;
      border: none;
    }
  }
}
