/* .page {
} */

.forms-wrapper {
  display: grid;
  gap: 1.25rem;
}

@media (min-width: 992px) {
  .page {
    display: grid;
    grid-template-columns: 1.3fr 2fr;
  }

  .forms-wrapper {
    padding: 1.25rem 1.25rem 0 0;
  }
}
