.page {
  display: grid;
}

.forms-wrapper {
  margin-top: 1.25rem;
  display: grid;
  gap: 1.25rem;
}

@media (min-width: 992px) {
  .page {
    grid-template-columns: 1.2fr 2fr;
  }

  .forms-wrapper {
    padding: 1.25rem 1.25rem 0 0;
  }
}
