.hint {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding-block: 1rem;
  border-bottom: 1px solid var(--clr-border);

  > svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  > p {
    font-weight: 500;
    text-transform: uppercase;
  }
}

@media (min-width: 992px) {
  .hint {
    padding-block: 0.75rem;
    justify-content: start;

    > svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    > p {
      font-size: 1.25rem;
    }
  }
}
