.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-border);

  h1 {
    font-size: clamp(2rem, 1.455rem + 2.73vw, 3.5rem);
    text-transform: uppercase;
  }
}