.footer {
  margin-top: 6rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    text-transform: uppercase;

    a {
      position: relative;
      text-decoration: none;
      color: var(--clr-text-primary);
      transition: color 0.2s ease;

      &::before {
        --ease-out: cubic-bezier(0.55, 0.085, 0.68, 0.53);
        content: '';
        position: absolute;
        bottom: -0.25rem;
        width: 100%;
        height: 1px;
        background: var(--clr-text-primary);
        transform: scaleX(0.2);
        transform-origin: left;
        transition:
          transform 0.2s var(--ease-out),
          background 0.2s var(--ease-out);
      }

      &:hover {
        color: var(--clr-accent-orange);

        &::before {
          background: var(--clr-accent-orange);
          transform: scaleX(1);
        }
      }
    }
  }
}
