#root {
  padding-bottom: 8rem;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1rem;
  margin-inline: auto;
}

@media (min-width: 992px) {
  .container {
    padding: 0 1.25rem;
  }
}