:root {
  --clr-neutral-black: hsl(0, 0%, 2%);
  --clr-neutral-off-white: hsl(0, 0%, 92%);
  --clr-text-primary: var(--clr-neutral-black);
  --clr-border: var(--clr-neutral-black);
  --clr-surface-primary: var(--clr-neutral-off-white);
  --clr-accent-orange: hsla(11, 99%, 60%, 1);
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('src/assets/fonts/HelveticaNowDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('src/assets/fonts/HelveticaNowDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('src/assets/fonts/HelveticaNowDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('src/assets/fonts/HelveticaNowDisplay-ExtraBold.woff2')
    format('woff2');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
button,
input,
select,
textarea {
  font-family: 'Helvetica Now Display', sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block: 0;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size-adjust: 0.52;
  background-color: var(--clr-surface-primary);
  color: var(--clr-text-primary);
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

fieldset, legend {
  padding: 0;
  margin: 0;
}

:target {
  scroll-margin-block: 5ex;
}

:where(
  a,
  button,
  input,
  select,
  textarea,
  summary,
  [tabindex]:not([tabindex='-1'])
):focus-visible {
  outline: 3px solid oklch(51.1% 0.262 276.966);
  outline-offset: calc(2px * -1);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
